.promptTrackerParent{
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  
}
.settingCatagoryContainer{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
  width: 700px;
  
}
.modeCategory{
  display: flex;
  cursor: pointer;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  
}
.countCategory{
  display: flex;
  cursor: pointer;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  
}
.typeSettingsButtons{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
  width: 700px;
  background-color: #013269;
  border-radius: 10px;
}
.modeButton{
  display: flex;
  cursor: pointer;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  /*border: solid 1px white;*/
  
}
.countButton{
  display: flex;
  cursor: pointer;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  /*border: solid 1px white;*/
  
}

.trackerParent{
  /*border: 3px solid yellow;*/
  height: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}
.tracker {
  display: inline-block;
  height:40px;
  width: 66px;
  font-size: 20px;
  text-align: left;
  /*border: 1px solid white;*/
  margin-right: 20px;
  
}
.prompt{
  height: 60%;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  word-wrap: break-word;
  /*border: solid 1px white;*/ 
  
  
}

.word{
  display: inline-flex; 
}

.characterElement{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  height: 20px;
  font-family: 'Nunito';
  /*border: solid 1px white;*/ 
    
}
.next{
  font-size: 40px;
  font-family: "Roboto Mono";
  cursor: pointer;
  text-align: center;
}
.generate{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 40px;
  width: 100px;
  border: solid 1px white;
}